.hero {
  background-image: url("./../img/backgroud.png");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 72px);
  margin-top: 72px;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .hero_content {
    h1 {
      max-width: 375px;
      font-size: 48px;
      font-weight: 600;
      font-family: "Exo";
      line-height: 120%;
      margin-bottom: 24px;
    }
    p {
      max-width: 520px;
      font-size: 18px;
      color: var(--dark-gray);
      margin-bottom: 20px;
    }
  }
}
/* section Categories */
#categories {
  margin-top: 56px;
  .container {
    .categories_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .categories_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 31px;
      .category {
        width: 234px;
        height: 234px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid #eaeaea;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
      img {
        margin-bottom: 24px;
      }
      h3 {
        font-size: 20px;
        font-weight: 600;
        font-family: "Exo", sans-serif;
        margin-bottom: 12px;
      }
    }
  }
}
.category:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-16px);
  -webkit-transform: translateY(-16px);
  -moz-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  -o-transform: translateY(-16px);

  h3 {
    color: var(--primary-color);
  }
}

/* section Courses */
#Featured {
  margin: 70px;
  .container {
    .courses_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .courses_cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 35px;
      .course {
        max-width: 385px;
        border-radius: 20px;
        border: 1px solid #eaeaea;
        position: relative;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

        .tag {
          position: absolute;
          top: 20px;
          left: 20px;
          background-color: var(--black-color);
          color: #fff;
          border-radius: 8px;
          padding: 8px 12px;
          font-weight: 500;
        }
        .course_img {
          width: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
          -webkit-border-radius: 20px 20px 0 0;
          -moz-border-radius: 20px 20px 0 0;
          -ms-border-radius: 20px 20px 0 0;
          -o-border-radius: 20px 20px 0 0;
        }
        .details {
          padding: 20px;
          p span {
            font-weight: 500;
          }
          h3 {
            font-size: 20px;
            font-weight: 600;
            font-family: "Exo", sans-serif;
            margin-top: 12px;
          }
          .info {
            padding-block: 16px;
            display: flex;
            align-items: center;
            gap: 24px;
            border-bottom: 1px solid #eaeaea;
            div {
              display: flex;
              align-items: center;
              gap: 4px;
              color: var(--dark-gray);
              font-weight: 500;
            }
          }
          .course_footer {
            padding-top: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              color: var(--grey-color);
            }
            span {
              padding-left: 8px;
              color: #55be24;
            }
            a {
              font-weight: 500;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.btn1 {
  display: block;
}
.btn2 {
  display: none;
  margin-top: 25px;
  margin-inline: auto;
}
/* section Banner  */
#Banner {
  .container {
    background-image: url("./../img/banner\ \(2\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 54px 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .content {
      span {
        font-size: 16px;
        font-weight: 600;
        font-family: "Exo";
        margin-bottom: 12px;
        color: var(--dark-gray);
      }
      h2 {
        font-size: 32px;
        font-weight: 600;
        font-family: "Exo";
      }
      p {
        margin-block: 20px;
        color: var(--dark-gray);
        max-width: 450px;
      }
    }
  }
}
/* section frame */
#frame {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
    gap: 30px;
    .card {
      height: 160px;
      background-color: var(--light-gray);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      span {
        color: var(--primary-color);
        font-size: 32px;
        font-weight: 600;
        font-family: "Exo";
      }
      h4 {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
/* section grow */
#Grow {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    .grow_img {
      max-width: 537px;
      img {
        width: 100%;
      }
    }
    .grow_content {
      max-width: 520px;
      h2 {
        font-size: 32px;
        font-weight: 600;
        font-family: "Exo";
        margin-bottom: 24px;
      }
      p {
        font-size: 18px;
        color: var(--dark-gray);
        margin-bottom: 20px;
      }
      ul {
        margin-bottom: 16px;
        li {
          margin-bottom: 12px;
          position: relative;
          padding-left: 24px;
          &::before {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            position: absolute;
            left: 0;
            top: 3px;
            color: #55be24;
          }
        }
      }
    }
  }
}

/* section student */
#student {
  .container {
    background-image: url("./../img/section\ six.png.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 65px 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .join_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      .description {
        display: flex;
        align-items: center;
        gap: 32px;
        p {
          font-size: 20px;
          font-weight: 600;
          font-family: "Exo", sans-serif;
        }
        div img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-border-radius: ;
          -moz-border-radius: ;
          -ms-border-radius: ;
          -o-border-radius: ;
        }
      }
      .join_btns {
        display: flex;
        align-items: center;
        gap: 20px;
        button:nth-child(1) {
          border: 1px solid var(--primary-color);
          color: var(--primary-color);
        }
      }
    }
  }
}
/*  Responsive Design  */
@media screen and (max-width: 992px) {
  .btn1 {
    display: none;
  }
  .btn2 {
    display: block;
  }
  .hero {
    background-image: linear-gradient(to right, #fff5be 0%, #d0f7ea 100%);
    height: 480px;
    .hero_content {
      width: 100%;
      text-align: center;
      h1 {
        max-width: 100%;
        font-size: 32px;
      }
      p {
        max-width: 100%;
      }
    }
  }
  #categories {
    .container {
      .categories_header {
        justify-content: center;
        text-align: center;
      }
      .categories_cards {
        gap: 25px;
      }
    }
  }
  #Grow {
    .container {
      flex-direction: column-reverse;
    }
  }
  #Featured {
    margin: 70px 0 0;
    .container {
      .courses_header {
        justify-content: center;
        text-align: center;
      }
    }
  }
  #Banner {
    .container {
      max-width: 100%;
      margin: 0;
      border-radius: 0;
      text-align: center;
      background-image: linear-gradient(to right, #b5ffe7 0%, #fdc1c1 100%);
      .content {
        p {
          max-width: 100%;
        }
      }
    }
  }
  #Grow {
    .container {
      justify-content: center;
      .about-content {
        max-width: 100%;
        order: -1;
      }
    }
  }
  #student {
    .container {
      max-width: 100%;
      margin: 0;
      border-radius: 0;
      text-align: center;

      .join_content {
        flex-direction: column;
        .description {
          flex-direction: column;
        }
        .join_btns {
          flex-direction: column;
        }
      }
    }
  }
}
